.navbarMobile {
  display: none;
}
@media (max-width: 480px) {
  .navbarMobile {
    position: fixed;
    z-index: +2;
    overflow: hidden;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    overflow: hidden;
    padding-top: 24px;

    &__logo {
      background-image: url(/assets/logo.png);
      background-size: contain;
      background-repeat: no-repeat;

      width: 193px;
      height: 68px;
    }
    &__items {
      display: flex;
      flex-direction: column;
      gap: 40px;
      text-align: center;

      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
