.button {
  display: flex;

  // width: 248px;
  width: clamp(5.1875rem, 0.0417rem + 17.1528vw, 20.625rem);
  // padding: 11px 0;
  padding: clamp(0.1875rem, -0.0208rem + 0.6944vw, 0.8125rem) 0;
  justify-content: center;
  // gap: 10px;
  gap: clamp(0.1875rem, -0.0208rem + 0.6944vw, 0.8125rem);

  cursor: pointer;

  background-color: #29388d;
  border: none;
  border-radius: 10px;

  font-size: clamp(0.3125rem, -0.0208rem + 1.1111vw, 1.3125rem);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.25s;
  &:hover {
    background-color: #414d8d;
  }
  &__icon {
    align-self: center;
  }
}
