@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.services {
  margin: $margin-64 0;

  &__title {
    font-size: clamp(0.75rem, 0rem + 2.5vw, 3rem);
    @include title;

    padding: $margin-64 0 $margin-40 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(
      5,
      clamp(7.125rem, -0.0417rem + 23.8889vw, 28.625rem)
    );
    gap: $space-24;
  }
  &__card__titleContainer {
    @include card-titleContainer;
  }
  &__card__title {
    @include card-title;
  }
  &__card__icon {
    width: clamp(0.5625rem, 0.0208rem + 1.8056vw, 2.1875rem);
    height: clamp(0.625rem, 0rem + 2.0833vw, 2.5rem);
  }
  &__card__description {
    @include card-description;
  }
  &__card_RD,
  &__card_solutions,
  &__card_SC,
  &__card_image1,
  &__card_image2,
  &__card_loyalty,
  &__card_market,
  &__card_seo,
  &__card_integration,
  &__card_image3 {
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    padding: $space-24;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__card_image1,
  &__card_image2,
  &__card_image3 {
    width: clamp(8.6875rem, 0.0417rem + 28.8194vw, 34.625rem);
    background-size: contain;
  }

  &__card_RD {
    grid-column: 1;
    grid-row: 1;
  }
  &__card_solutions {
    grid-column: 2/5;
    grid-row: 1;
  }
  &__card_SC {
    grid-row: 2;
    grid-column: 1/4;
  }
  &__card_image1 {
    grid-row: 2;

    background-image: url(./assets/our-services/SC.png);
  }
  &__card_image2 {
    grid-row: 3;

    background-image: url(./assets/our-services/Loyalty.png);
  }

  &__card_loyalty {
    grid-row: 3;
    grid-column: 2/5;
  }

  &__card_market {
    grid-row: 4;
    grid-column: 1/3;
  }

  &__card_seo {
    grid-row: 4;
    grid-column: 3/5;
  }
  &__card_integration {
    grid-row: 5;

    grid-column: 1/4;
  }
  &__card_image3 {
    grid-row: 5;
    background-image: url(./assets/our-services/Integration.png);
  }
}
