@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";
.hero {
  width: 100%;
  height: clamp(11.3125rem, -0.0208rem + 37.7778vw, 45.3125rem);

  position: relative;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  border-radius: 15px;

  &__background {
    background-image: url(/assets/hero-mask.png);
    object-fit: fill;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__text {
    grid-row: 2;
    font-size: clamp(1rem, -0.0208rem + 3.4028vw, 4.0625rem);
    font-weight: 600;
    z-index: +1;
    line-height: clamp(1.5rem, -0.0208rem + 5.0694vw, 6.0625rem);
    text-align: left;

    grid-column: 1/3;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;

    padding: 0 0 $margin-40 $margin-40;
  }

  &__dots {
    background-image: url(/assets/hero-dots.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: clamp(0.1875rem, -0.0208rem + 0.6944vw, 0.8125rem);
    margin-bottom: clamp(0.375rem, 0.0417rem + 1.1111vw, 1.375rem);
  }

  &__highlight {
    color: #29388d;
  }

  &__image {
    position: absolute;
    right: 0;
    width: clamp(17.125rem, 0rem + 57.0833vw, 68.5rem);
    height: 100%;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 662px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &__text {
      font-size: 34px;
      line-height: 48.76px;
      margin-top: 80px;
      padding: 0;
    }

    &__dots {
      height: 9px;
    }

    &__image {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      align-self: flex-end;
    }
  }
}
