.card {
  width: 306px;

  &__image {
    width: 306px;
    height: 306px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__position {
    margin-top: 10px;
    opacity: 0.5;
  }
  &__icons {
    display: flex;
    gap: 10px;
  }
}
