@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

@mixin moreCardMobile {
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/Bridges-page/Паттерн.png);
  background-repeat: no-repeat;
}

.pageContainer {
  width: 100%;
  height: 100%;
  z-index: +1;
  padding: 96px 0 64px 0;

  &__titleContainer {
    display: flex;
    flex-direction: column;

    &__dots {
      background-image: url(./assets/hero-dots.svg);
      background-repeat: no-repeat;
      background-size: contain;
      height: clamp(0.1875rem, -0.0208rem + 0.6944vw, 0.8125rem);
      margin-bottom: clamp(0.375rem, 0.0417rem + 1.1111vw, 1.375rem);

      @media (max-width: 480px) {
        height: 9px;
        margin-bottom: 19px;
      }
    }
    &__title {
      @include title;

      @media (max-width: 480px) {
        font-size: 34px;
        line-height: 48.76px;
      }
    }
  }
  &__cardsGrid {
    display: grid;
    gap: $space-24;
    grid-template-columns: repeat(4, 1fr);
    margin-top: $margin-40;

    &__desktop {
      @media (max-width: 480px) {
        display: none;
      }
    }
    &__moreCard_mobile {
      display: none;
      @media (max-width: 480px) {
        display: block;
      }
    }
    &__moreCard {
      width: clamp(6.375rem, -0.0208rem + 21.3194vw, 25.5625rem);
      height: clamp(6.25rem, -0.0208rem + 20.9028vw, 25.0625rem);
      display: flex;
      gap: $space-24;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #dfdfdf;
      border-radius: 15px;

      @media (max-width: 480px) {
        width: 327px;
        height: 300px;
        gap: 24px;
      }

      &__title {
        font-size: clamp(0.3125rem, -0.0208rem + 1.1111vw, 1.3125rem);
        font-weight: 500;
        line-height: clamp(0.5rem, 0.0208rem + 1.5972vw, 1.9375rem);
        letter-spacing: 0em;
        text-align: center;

        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 22.94px;
        }
      }

      &__image {
        width: clamp(2rem, 0rem + 6.6667vw, 8rem);
        height: clamp(2rem, 0rem + 6.6667vw, 8rem);
        cursor: pointer;
        @media (max-width: 480px) {
          width: 95px;
          height: 95px;
        }
      }
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 40px;
    }
  }
  &__buttons {
    display: flex;
    gap: $space-24;
    margin-top: $margin-64;
    @media (max-width: 480px) {
      gap: 24px;
      flex-direction: column;
      margin-top: 40px;
    }
  }
}
