$margin-64: clamp(1.3125rem, 0rem + 4.375vw, 5.25rem);
$margin-40: clamp(0.8125rem, -0.0208rem + 2.7778vw, 3.3125rem);
$space-24: clamp(0.5rem, 0.0208rem + 1.5972vw, 1.9375rem);
$space-10: clamp(0.1875rem, -0.0208rem + 0.6944vw, 0.8125rem);
$space-16: clamp(0.3125rem, 0rem + 1.0417vw, 1.25rem);
