@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.sliderComponent {
  margin: $margin-64 0;
  &__title {
    @include title;
  }
  &__button {
    margin-top: $margin-40;
  }
}
@media (max-width: 480px) {
  .sliderComponent {
    margin: 64px 0;
    &__title {
      font-size: 28px;
      line-height: 40.15px;
      margin-bottom: 40px;
    }
    &__button {
      margin-top: 40px;
    }
  }
}
