.vision {
  width: 1120px;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  padding: 0 0 0 40px;

  &__title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 132px;

    text-transform: uppercase;
  }

  &__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.migration {
  padding: 0 0 0 40px;

  margin-top: 64px;

  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

  color: #29388d;

  width: 880px;
}
