@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.vision {
  width: clamp(23.3125rem, 0rem + 77.7083vw, 93.25rem);
  margin-top: $margin-64;
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  padding: 0 0 0 $margin-40;

  &__title {
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0rem + 2.5vw, 3rem);
    font-weight: 600;
    line-height: clamp(1.0625rem, -0.0417rem + 3.6806vw, 4.375rem);
    letter-spacing: 0em;
    text-align: left;
    margin-right: clamp(2.75rem, 0rem + 9.1667vw, 11rem);

    text-transform: uppercase;
  }

  &__subtitle {
    font-family: Montserrat;
    font-size: $space-16;
    font-weight: 400;
    line-height: clamp(0.5625rem, 0.0208rem + 1.8056vw, 2.1875rem);
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: clamp(0.4375rem, 0.0417rem + 1.3194vw, 1.625rem);
  }
}

.migration {
  padding: 0 0 0 $margin-40;

  margin-top: $margin-64;

  font-family: Montserrat;
  font-size: clamp(0.75rem, 0rem + 2.5vw, 3rem);
  font-weight: 500;
  line-height: clamp(1.25rem, 0.0417rem + 4.0278vw, 4.875rem);
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

  color: #29388d;

  width: clamp(18.3125rem, 0.0417rem + 60.9028vw, 73.125rem);
}

@media (max-width: 480px) {
  .vision {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    &__title {
      font-size: 28px;
      line-height: 40.15px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 22.6px;
      margin-top: 24px;
      gap: 12px;
    }
  }

  .migration {
    padding: 0;
    width: 100%;
    font-size: 20px;
    line-height: 32.78px;
    margin-top: 64px;
  }
}
