@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.navbar {
  margin-top: $space-24;
  font-size: clamp(0.3125rem, 0rem + 1.0417vw, 1.25rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;

  &__logo {
    width: clamp(5.125rem, -0.0208rem + 17.1528vw, 20.5625rem);
    height: clamp(1.5rem, -0.0208rem + 5.0694vw, 6.0625rem);

    background-image: url(./assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: $space-24;
    @media (max-width: 480px) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    &__icon {
      width: 24px;
      height: 10px;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }
}
