@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.experts {
  padding: $margin-64 clamp(4rem, 0.0208rem + 13.2639vw, 15.9375rem) 0
    $margin-40;
  &__title {
    @include title;
  }
  &__subtitle {
    margin-top: clamp(0.6875rem, 0rem + 2.2917vw, 2.75rem);

    display: flex;
    flex-direction: column;

    gap: clamp(0.4375rem, 0.0417rem + 1.3194vw, 1.625rem);

    font-size: $space-16;
    font-weight: 400;
    line-height: clamp(0.5625rem, 0.0208rem + 1.8056vw, 2.1875rem);
    letter-spacing: 0em;
    text-align: left;
  }
}
.map {
  padding: 0;
  margin: $space-24 auto 0 auto;
  width: clamp(20.0625rem, -0.0208rem + 66.9444vw, 80.3125rem);
  height: clamp(10.8125rem, 0.0208rem + 35.9722vw, 43.1875rem);

  background-image: url(./assets/map.png);
  background-size: cover;
}
.team {
  margin-top: $margin-64;

  &__title {
    margin: 0 auto;

    width: clamp(21.4375rem, -0.0208rem + 71.5278vw, 85.8125rem);
    font-size: $space-24;
    font-weight: 500;
    line-height: clamp(0.6875rem, 0rem + 2.2917vw, 2.75rem);
    letter-spacing: 0em;
    text-align: center;
  }
  &__subtitle {
    width: clamp(15rem, 0.0208rem + 49.9306vw, 59.9375rem);
    margin: clamp(0.6875rem, 0rem + 2.2917vw, 2.75rem) auto 0 auto;

    font-size: $space-16;
    font-weight: 400;
    line-height: clamp(0.5625rem, 0.0208rem + 1.8056vw, 2.1875rem);
    letter-spacing: 0em;
    text-align: center;
  }
  &__experts {
    margin-top: $margin-40;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: $space-24;
    row-gap: $margin-40;
  }
}
