@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.footer {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
  padding: $space-24 0;

  &__logo {
    width: clamp(5.125rem, -0.0208rem + 17.1528vw, 20.5625rem);
    height: clamp(1.5rem, -0.0208rem + 5.0694vw, 6.0625rem);

    background-image: url(/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: $space-24;
    font-size: clamp(0.3125rem, -0.0208rem + 1.1111vw, 1.3125rem);
  }

  &__copyrights {
    display: flex;
    align-items: center;

    font-size: clamp(0.3125rem, -0.0208rem + 1.1111vw, 1.3125rem);
    font-weight: 400;
    line-height: clamp(0.4375rem, 0.0417rem + 1.3194vw, 1.625rem);
    letter-spacing: 0em;
    text-align: right;

    opacity: 50%;

    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 40px 24px;
    flex-direction: column;
    gap: 24px;

    &__logo {
      width: 189px;
      height: 68px;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
    }
    &__copyrights {
      margin-top: 40px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }
}
