@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #000000;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 0;
  width: 100%;
  gap: 24px;
}
