@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";

.onboarding {
  margin: $margin-64 0;
  &__title {
    @include title;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: $space-24;
    margin-top: $margin-40;
  }

  &__card {
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    padding: $space-24;

    height: clamp(6.375rem, -0.0208rem + 21.3194vw, 25.5625rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: $space-16;
      font-weight: 400;
      line-height: clamp(0.5625rem, 0.0208rem + 1.8056vw, 2.1875rem);
      letter-spacing: 0em;
      text-align: left;
      color: #29388d;
    }
    &__icon {
      width: clamp(0.6875rem, 0rem + 2.2917vw, 2.75rem);
      height: clamp(0.6875rem, 0rem + 2.2917vw, 2.75rem);
    }
    &__description {
      margin-top: $space-16;
      font-size: $space-16;
    }
    &__big {
      grid-column: span 2;
    }
  }
}

@media (max-width: 480px) {
  .onboarding {
    margin: 64px 0;
    &__title {
      font-size: 28px;
      line-height: 40.15px;
    }
    &__cards {
      display: flex;
      flex-direction: column;
    }
    &__card {
      padding: 24px;
      height: max-content;

      &__title {
        display: none;
      }
      &__icon {
        width: 45px;
        height: 45px;
      }
      &__description {
        margin-top: 16px;
        font-size: 16px;
        line-height: 25.82px;
      }
    }
  }
}
