@import "/src/styles/confing.scss";
@import "/src/styles/mixins.scss";
.slider {
  display: flex;
  overflow: hidden;

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: fill;
      width: 196px;
      height: 93px;
    }
  }
}
